h3 
   {color: rgb(76, 0, 255);}
   h4 
    {color: brown;}
    
    
        .myclass{color: aquamarine;
    font-size: xx-large;font-family: cursive;}
    
        #myid{color: blue; font-family: fantasy;}
        *{font-size: xx-large;
            
        }
    